@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Shadows+Into+Light&display=swap');

:root{
    --primary-color: #FCEC52;
    --secondary-color: #4DAA57;
    --accent1-color: #695958;
    --accent2-color: #98DFEA;

    --heading-font: 'Shadows Into Light', cursive;
    --paragraph-font: 'Concert One' sans-serif;

    --nav-background-color: #e3dfffd8;
    --nav-link-color: #5d1245;
    --nav-hover-link-color: #B19994;
    --nav-hover-background-color: #D4E6B5;
}
body{
    width: 960px;
    padding: 10px;
    margin: 5px;
    border: 5px;
    background-color: #d2ee1f;
}
h1{
    font-family: 'shadows into light', cursive;
    background-color: #FCEC52;
    color: #5d1245;
    position: absolute;
}
header{
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr 2fr;
    max-width: 1000px;
    border-bottom: #D4E6B5;
}
header img{
    margin: 0 0.25rem 0 1rem;
    width: 100px;
}
p{
    font-size: large;
    font-family: 'Shadows Into Light', sans-serif;
    padding: 10px;
}
article p{
    color: white;
}
article h2{
    color: white;
}

h2{
    position: relative;
    font-family: 'Consert One', cursive;
    text-align: center;
}
nav{
    display: flex;
    font-family: 'Concert One', cursive;
    display: block;
    text-align: center;
    background-color: yellow;
}
section div{
    display: flex;
    width: 960px;
    flex-wrap: nowrap;
}
figure{
    padding: 2px;
    margin: 2px;
}

figure img{
    width: 200px;
}
figcaption{
    padding: 5px;
    text-align: center;
    color: #fff;
    font: italic smaller sans-sarif;
    background-color: #222;
}

footer{
    display: flex;
    float: right;
    padding: 0%;
    text-align: center;
    background-color: #44ddad;
    gap: 200px;
}
.hero{
    position: relative;
    display:grid;
    background-color: #d2ee1f;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
article{
    position: absolute;
    top: 100px;
    background-color: rgb(15, 13, 13);
}
article img{
    float: right;
}
.hero article img{   
    float: right;
    width: 200px;
}
footer p{
    font-style: italic;
    color: black;
    text-align: center;
}
.sociallinks{
    justify-content: right;
}
a {
    text-decoration: none;
}

.contact-infor{
    display: flex;
    justify-content: space-evenly;
}

.happy_employees{
    display: flex;
    justify-content: space-around;
}

form{
    display: grid;
    padding: 1.0rem;
    width: 850px;
}
label{
    padding: .5rem;
    margin: 5px;
}

button{
    background-color: rgb(82, 82, 227);
    height: 50px;
    color: white;
}
button:hover{
    /* color: tomato; */
    background-color: #5d1245;
    height: 50px;
}

textarea{
    width: 400px;
}