@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&display=swap');

body{
    font-family: var(--Cormorant Garamond, sans-serif);
    max-width: 960px;
    padding: 20px;
}
h1{
    font-family: Indie Flower;
}
.root{
    --primary-color: #EFF6E9;
    --secondary-color: #BAA5FF;
    --accent1-color: #BD897E;
    --accent2-color: #3E6680;

    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Indie Flower', serif;

    --nav-background-color: #E3Dfff;
    --nav-link-color: #D3C0CD;
    --nav-hover-link-color: #B19994;
    --nav--hover-background-color: #D4E6B5;
}
h1, h2,h3,h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--#A3C9A8)
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}