@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 960px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: beige;
    color: black;
}

label{
    text-align: center;
}
h1{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    margin: 0 auto;
    width: 650px;
}

div{
    padding: 5px;
}
form{
    padding: 10px;
    border: 1px solid gray;
    display: grid;
}

legend{
    color: green;
    margin: 0;
}

input,input[type="number"], textarea, select{
    background-color: aquamarine;
}

textarea{
    width: 200px;
    padding: 5px;
    margin: 0;
    vertical-align:bottom;

}
button{
    color: rgb(7, 8, 1);
    padding: 1.5rem;
    background-color: #ba55d8;
    margin: 1rem;
    /* background-color: navy; */
    /* border: none; */
    border-radius: 0.5rem;
    /* font-size: 1.2rem; */
}

button:hover{
    background-color: rgb(217, 217, 42);
    margin: 1rem;
}
.quiz2{
    grid-template-columns: 2fr 1fr;
}