*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 840px;
}
h1{
    border-bottom: #000;
}
nav {
    background-color: rgb(58, 129, 209);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a:hover{
    color: peachpuff;
}
nav a {
    color: rgb(253, 250, 250);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}
aside {
    width: 20em;
    margin: 1rem;
    position: relative
    /* border: 1px solid rgba(0, 0, 0, 0.2); 1️⃣ */
    /* padding: 15px;; */ 
}
aside img{
    top: 4px;
    left: 10px;
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: rgb(172, 177, 182);
    color: black;
}
aside h2{
    position: absolute;
    top: 47px;
    left: 100px;
}
header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    align-items: center;
}
main{
    grid-column: 3/3;
    margin: 1rem;
}
aside{
    width: 20rem;
    position: relative;
    grid-column: 1/3;
    grid-row: 1/2;
}